<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/img/icon.png' | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="logo-section">
          {% if site.logo %}
            <a href="{{ "/" | relative_url }}" class="logo-link">
              <img src="{{site.logo | relative_url}}" alt="{{ site.title }}" class="site-logo"/>
            </a>
          {% else %}
            <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
          {% endif %}
        </div>

        <div class="nav-section">
            {% include navigation.html %}
        </div>
      </header>
      
      <main>
        <div class="container">
          {{ content }}
        </div>
      </main>
      
      <footer>
        <div class="container">
          {% include footer.html %}
        </div>
      </footer>
    </div>
  </body>
</html> 